:root{
    --font-family-principal: 'Hanken Grotesk';
    --font-color-branco: #fff;
    --font-color-preto: #000000;
    --casa-branco: #e2dddd;
    --casa-preto: #383535;

    /* body */
    --body-background: #576b54;

    /* navbar  */
    --navbar-background: #455543;

    /*pontuacao*/
    --pontuacao-background: #2f332e;
    --pontuacao-header-background: #1c221c;
    --pontuacao-footer-background: #1c221c;
    --pontuacao-font-color: #fff;
    --pontuacao-button-background: #5cb350;
}
