.pontuacao{
    color: var(--pontuacao-font-color );

}
.pontuacao-card{
    display: flex;
    width: 300px;
    height: 480px;
    flex-direction: column;
    background-color: var(--pontuacao-background);
    margin-left: 20px;
}
.pontuacao-card-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--pontuacao-header-background);
    height: 60px;
    align-items: center;
}
.pontuacao-card-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}
.pontuacao-card-footer{
    display: flex;
    flex-direction: column;
    background-color: var(--pontuacao-footer-background);
    padding: 10px;
}
.pontuacao-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.select-cor{
    margin-left: 10px;
    cursor: pointer;
}
.checkbox-mostrar-cod{
    width: 20px;
    height: 20px;
    margin-left: 10px;
    cursor: pointer;
}
.btn-comecar{
    padding: 10px;
    background-color: var(--pontuacao-button-background);
    border: none;
    cursor: pointer;
    width: 250px;
    height: 60px;
    margin: auto;
    border-radius: 6px;
    color: var(--pontuacao-font-color);
    font-weight: bolder;    
    font-size: 1.6em;
}