.card-tabuleiro {
    position: relative;
    display: flex;
    height: 480px;
}

.col {
    display: flex;
    flex-direction: column;
}

.casa {
    width: 60px;
    height: 60px;
    cursor: inherit;
}

.card-tabuleiro.jogo-iniciado .casa {
    cursor: pointer;
}

.branco {
    background-color: var(--casa-branco);
}

.preto {
    background-color: var(--casa-preto);
}
@media (max-width: 550px){
    .card-tabuleiro{
        height: 400px;
    }
    .casa{
        width: 50px;
        height: 50px;
    }
}