.card-tabuleiro {
    position: relative;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    height: 480px;
}
.casa{
    width: 60px;
    height: 60px;
    cursor: inherit;
}
.card-tabuleiro.jogo-iniciado .casa {
    cursor: pointer;
}
.branco{
    background-color: var(--casa-branco);
}
.preto{
    background-color: var(--casa-preto);
}